<form class="horizontal-form m-l-70" enctype="text/plain">
  <div class="form-el">
    <select name="city" ng-model="formData.city">
      <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
    </select>
  </div>
  <div class="form-el">
    <select name="district" ng-model="formData.district" ng-change="getStreets()">
      <option ng-repeat="district in cities[0].districts" value="{{district}}">{{district}}</option>
    </select>
  </div>
</form>
<form class="horizontal-form m-l-70" enctype="text/plain">
  <div class="form-el">
    <input type="text" name="street" placeholder="Введіть назву вулиці" ng-model="formData.street"/>
  </div>
  <div class="form-el">
    <button type="submit" class="btn" ng-click="addStreet()">Добавити</button>
  </div>
</form>
<div class="m-l-70">Вулиць знайдено: {{ streets.length || 0 }}</div>
<table class="pharmacy-table">
  <thead>
  <tr>
    <th>Назва</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="street in streets">
    <td>{{ street.name }}</td>
  </tr>
  </tbody>
</table>