// Created by skorytskyy on 10/24/2014.

extends ./includes/_layout
block content
  main(class="content")
    form.search-form.horizontal-form.m-l-70
      .form-el
        select(name="city")
          option(value="Львів") Львів
      .form-el
        select(id="district", name="district")
          option(value="Галицький") Галицький
          option(value="Франківський") Франківський
          option(value="Шевченківський") Шевченківський
      .form-el
        label(for="time")
        input(type="checkbox", id="time", name="time")
        | Цілодобово
      .form-el
        button(type="submit", class="btn") Пошук
    table.pharmacy-table
      thead
        tr
          th Назва
      tbody
        if (pharms.length > 0)
          each p in pharms
            tr
              td= p.name