@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../fonts/roboto-regular.eot');
  src: url('../../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/roboto-regular.woff') format('woff'), url('../../fonts/roboto-regular.ttf') format('truetype'), url('../../fonts/roboto-regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: #fff;
}
body {
  font: 14px/28px Roboto-Regular;
}
.layout {
  min-height: 100%;
}
.header {
  height: 200px;
}
.footer {
  height: 200px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.ma {
  margin: 0 auto;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-70 {
  margin-left: 70px;
}
.hidden {
  display: none;
}
.horizontal-form .form-el {
  display: inline-block;
  width: auto;
  margin-right: 20px;
}
.btn {
  height: 38px;
  border: 1px solid #c2c2c2;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 10px;
}
.btn:hover {
  background: #f6f6f6;
}
.header .logo {
  display: block;
  height: 100%;
  width: 320px;
  margin: 0 auto;
  background: url("../img/logo.svg") center no-repeat;
}
.pharmacy-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}
.pharmacy-table thead {
  background: #f6f6f6;
}
.pharmacy-table th {
  font-weight: normal;
  text-transform: uppercase;
}
.pharmacy-table td,
.pharmacy-table th {
  width: 25%;
  padding: 15px 15px 15px 70px;
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}
.form-el input[type="text"] {
  width: auto;
  min-width: 70px;
  height: 38px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 0px 40px 0 24px;
  line-height: 37px;
}
.select-styled {
  position: relative;
  width: auto;
  min-width: 70px;
  height: 38px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  cursor: pointer;
}
.select-styled .selectedEl {
  display: block;
  width: auto;
  height: 100%;
  padding: 0px 40px 0 24px;
  line-height: 37px;
}
.select-styled .selectedEl:after {
  content: "";
  display: block;
  width: 17px;
  height: 10px;
  background: url("../img/select-arrow.png") center no-repeat;
  position: absolute;
  right: 15px;
  top: 13px;
}
.select-styled ul {
  width: auto;
  list-style: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 1px #eeeeee, -1px -1px 1px #eeeeee;
}
.select-styled ul li {
  display: block;
  height: 52px;
  min-width: 70px;
  background: #fff;
  padding: 0 16px;
  border-bottom: 1px solid #ececec;
  line-height: 52px;
}
.select-styled ul li:last-child {
  border: none;
}
.select-styled ul li:hover {
  background: #f6f6f6;
}
.chk-styled label {
  cursor: pointer;
}
.chk-styled label:before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 3px;
  border: 1px solid #c2c2c2;
  margin-right: 10px;
}
.chk-styled label.on:before {
  background: url("../img/chk-arrow.png") center no-repeat;
}
